site:
  title: LOCAL DataStax Streaming Docs
  start_page: streaming::index.adoc
  url: https://docs.datastax.com/en/streaming

output:
  #dir: '~/work/datastax-streaming-docs-site/build/site'
  dir: 'build/site'
  clean: true

urls:
  redirect_facility: httpd
  latest_version_segment_strategy: redirect:from
  latest_version_segment: 'latest'

content:
  branches: HEAD #use the currently checked out branch, if not specified
  sources:
    # DATASTAX STREAMING DOCUMENTATION MAIN PAGE
    - url: ../datastax-streaming-docs-site
      edit_url: '{web_url}/blob/{refname}/{path}'
      start_path: site-main

    # LUNA STREAMING DOCUMENTATION SITE
    - url: ../pulsar-docs
      edit_url: '{web_url}/blob/{refname}/{path}'
      branches: 'develop/{0..99}.{0..99}_{0..99}.x'
      version:
        develop/({0..99}).({0..99})_({0..99}).x: '$1.$3-$5.x'

    # ASTRA STREAMING DOCUMENTATION SITE
    - url: ../astra-streaming-docs
      edit_url: '{web_url}/blob/{refname}/{path}'

    # PULSAR LEARNING SITE
    - url: ../streaming-learning-docs
      edit_url: '{web_url}/blob/{refname}/{path}'

    # STARLIGHT SITES
    - url: ../starlight-for-kafka-docs
      edit_url: '{web_url}/blob/{refname}/{path}'
      branches: 'develop/{0..99}.{0..99}.{0..99}.x'
      version:
        develop/(*): '$1'

    - url: ../starlight-for-rabbitmq-docs
      edit_url: '{web_url}/blob/{refname}/{path}'
      branches: 'develop/{0..99}.{0..99}.{0..99}.x'
      version:
        develop/(*): '$1'

    - url: ../starlight-for-jms-docs
      edit_url: '{web_url}/blob/{refname}/{path}'
      branches: 'develop/{0..99}.{0..99}'
      version:
        develop/(*): '$1'

    # OP SITE
    - url: ../pulsar-operator-docs
      edit_url: '{web_url}/blob/{refname}/{path}'
      branches: main #use 'develop/{0..99}.{0..99}.{0..99}.x' when ready
      version:
        develop/(*): '$1'

runtime:
  log:
    level: info
    failure_level: warn

ui:
  bundle:
    url: https://github.com/riptano/antora-ui-docs/releases/latest/download/ui-bundle.zip
    snapshot: true
  supplemental_files: supplemental-ui

asciidoc:
  attributes:
    page-pagination: ''
    sectanchors: ''
    sectlinks: ''
    idprefix: ''
    idseparator: '-'
    allow-uri-read: '' # this has no effect in antora, but does help development in Intellij
    product_name: 'Astra Streaming'
    astra_db: 'Astra DB'
    astra_stream: 'Astra Streaming'
    astra_cli: 'Astra CLI'
    company: 'DataStax'
    kafka_for_astra: 'Starlight for Kafka'
    starlight_rabbitmq: 'Starlight for RabbitMQ'
    pulsar_version: '2.10' #DO NOT INCLUDE PATCH VERSION <MAJOR>.<MINOR>.<PATCH>
    pulsar_full_version: '2.10.1'
    astra_ui: 'Astra Portal'
    bearer_token_value: '<replace-me>'
    base_url: 'https://api.astra.datastax.com'
    base_api: '/v2/streaming'
    bearer_token: '$BEARER_TOKEN'
    tenant_name_with_topics: 'llp-test'
    cluster_name: 'astradev-aws'
    tenant_name: 'testcreate'
    topic_name: 'blah'
    request_feature_access_email: 'astrastreaming@datastax.com'
    astra-streaming-examples-repo: 'https://raw.githubusercontent.com/datastax/astra-streaming-examples/master'
    luna-streaming-examples-repo: 'https://raw.githubusercontent.com/datastaxdevs/luna-streaming-examples/main'
    external-link-icon: '&#x2197;'
    streaming_signup_url: 'https://astra.datastax.com/streaming'
    login_url: 'https://astra.datastax.com'

    emoji-tada: "&#127881;"
    emoji-rocket: "&#128640;"
    emoji-smile: "&#128512"

  extensions:
    - lib/tabs-block.js
    - lib/remote-include-processor.js
